<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
        <div class="container">
            {{ partial "header.html" . }}

            <div class="content">
              <style>
                /* ---- reset ---- */
                div{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }
                /* ---- particles.js container ---- */
                #particles-js{width: 100%; height: 100%; background-color: #111111; background-size: cover; background-position: 50% 50%; }
                /* ---- stats.js ---- */
                .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

                canvas{
                  margin-top: -30%;
                }

                @media only screen and (max-width: 1200px) {
                  h1{
                    font-size: 5vw !important;
                    margin-top: 25% !important;
                    text-align: center;
                  }
                  p{
                    font-size: 3vw !important;
                    text-align: center;
                  }
                }
                canvas{
                  margin-top: -60%;
                }

                @media only screen and (max-width: 800px) {
                  h1{
                    font-size: 8vw !important;
                    margin-top: 25% !important;
                    text-align: center;
                  }
                  p{
                    font-size: 5vw !important;
                    text-align: center;
                  }
                }
                canvas{
                  margin-top: -60%;
                }
              </style>

                <div id="particles-js">
                    <h1 style="color:#fff; text-align:center; font-size:3.5vw; margin-top: 15%;">Error 404</h1>
                    <p style="color:#888; text-align:center; font-size: 1.5vw;">Page not found !</p>
                </div>


              <script src="js/particles.min.js"></script>
              <script type="text/javascript">
                particlesJS("particles-js", {"particles":{"number":{"value":50,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":true,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":4,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":true,"mode":"bubble"},"onclick":{"enable":true,"mode":"push"},"resize":true},"modes":{"grab":{"distance":227.75766584354238,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":6,"duration":2,"opacity":1,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});var count_particles, stats, update; stats = new Stats; stats.setMode(0); stats.domElement.style.position = 'absolute'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement); count_particles = document.querySelector('.js-count-particles'); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);;
              </script>
            </div>
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
