{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.portrait.path }}
               <img src="{{ .Site.Params.portrait.path }}" class="circle" alt="{{ .Site.Params.portrait.alt }}" />
            {{ end }}

            <h1 style="margin-bottom: 0;">{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <p style="margin-top: 0; margin-bottom: 20px;">{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

            <a style="display: table; margin: 35px auto;" href="{{ path.Join .RelPermalink .Site.Params.postsUrl }}"><button style="padding: 12px 25px 12px 25px;">See posts!</button></a>
        </div>
    </main>
{{ end }}
